{
  "ibmcloud_api_key": $VALIDATION_APIKEY,
  "region": "us-south",
  "resource_tags": $TAGS,
  "prefix": $PREFIX,
  "existing_kms_instance_guid": $EXISTING_KMS_INSTANCE_GUID,
  "kms_key_crn": $KMS_KEY_CRN
}
